.TOC > *:not(:last-child) {
    margin-bottom: 2.25rem
  }
  @supports (gap: 2.25rem) {
    .TOC {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2.25rem
    }
}
.TOC > *:not(:last-child) {
  margin-bottom: 0
}
  .TOC {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  .TOC h3 {
    padding: 0.15rem;
    border-bottom: 1px solid var(--bg-secondary)
  }
  .TOC a:last-child {
    padding-bottom: 5.75rem
  }
  .TOC a::before {
    content: "• "
  }