body {
    line-height: 1.8
}
h1 {
    text-align: center;
    padding: 1.1rem 0
}
main {
    white-space: pre-line;
    letter-spacing: .03125rem;
    & p {
        margin-bottom: 1.875rem
    }
}
.exclusive-nav a[aria-current='page'] {
    font-weight: 700;
    text-decoration: underline
}