body,
#content {
    padding: 0;
    margin: 0
}
header {
    text-align: center;
    padding: 1.4rem 0
}
#content {
    border-radius: .5rem;
    padding: 1.4rem
}
p:not(.software-note) {
    line-height: 1.5;
    margin-bottom: 1.5rem
}
p:last-child,
li:last-child {
    margin-bottom: 2.5rem
}
p:not(footer p, #cookie-banner p) {
    padding: 1rem;
    border-radius: .53rem
}
li:not(:last-child) {
    margin-bottom: 1.5rem
}
#underline-link {
    font-weight: 700;
    text-decoration: underline
}
@media only screen and (min-width:320px) and (max-width:480px) {
    #content {
        padding: 1.2rem
    }
}
@media only screen and (min-width:481px) and (max-width:768px) {
    #content {
        padding: 1.45rem
    }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
    #content {
        padding: 1.56rem
    }
}
@media only screen and (min-width:1025px) and (max-width:1200px) {
    #content {
        padding: 1.65rem
    }
}
@media only screen and (min-width:1201px) {
    #content {
        padding: 1.8rem
    }
}