header h1 {
    text-align: center;
    padding: 1.4rem 0
}
main {
    border-radius: .5rem;
    padding: 1.4rem
}
p:not(.software-note) {
    line-height: 1.5;
    margin-bottom: 1.5rem
}
p:last-child,
li:last-child {
    margin-bottom: 2.5rem
}
p {
    padding: 1rem;
    border-radius: .53rem
}
li:not(:last-child) {
    margin-bottom: 1.5rem
}
.exclusive-nav a[aria-current='page'] {
    font-weight: 700;
    text-decoration: underline
}