main,
main button[type="button"] {
    align-items: center;
    display: flex;
    justify-content: center
}
main .chat-response {
    border: 0.1rem solid var(--accent);
    border-radius: 0.5rem;
    margin-bottom: 4rem;
    order: 1;
    white-space: pre-wrap
}
main input[type="text"] {
    order: 2;
    padding: 1rem;
    width: 100%
}
main input[type="file"] {
    align-self: flex-start;
    order: 3
}
main button[type="button"] {
    border-radius: 1rem;
    order: 4;
    width: 15%
}
.twitter-share-button {order: 5}
.reddit-share-link {order: 6}