main,
main button[type="button"] {
    align-items: center;
    display: flex;
    justify-content: center
}
main .chat-response {
    border: 0.1rem solid var(--accent);
    border-radius: 0.5rem;
    margin-bottom: 4rem;
    white-space: pre-wrap
}
main input[type="text"] {
    padding: 1rem;
    width: 100%
}
main input[type="file"] {
    align-self: flex-start
}
main button[type="button"] {
    border-radius: 1rem;
    width: 15%
}