main,
main .chat-options {
    display: flex
}
main {
    align-items: center;
    justify-content: center
}
main .chat-response {
    border: 0.1rem solid var(--accent);
    border-radius: 0.5rem;
    margin-bottom: 4rem;
    white-space: pre-wrap
}
main .chat-options {
    flex-direction: column;
    margin-bottom: 3rem
}
main input[type="file"] {
    display: none
}
main label,
main .chat-rows * {
    border-radius: 1rem
}
main label {
    background: var(--fg);
    color: var(--bg);
    cursor: pointer;
    margin: 1rem;
    text-align: center
}
main .chat-rows {
    display: flex;
    gap: 1rem
}
main input[type="text"] {
    height: 5svh;
    padding: 1rem
}