#contact-form {
  border-radius: 1.5rem;
  margin: 2rem;
  padding: 2rem
}
.form-group {
  margin-bottom: 2rem
}
label {
  display: block;
  margin-bottom: 1rem
}
.form-group textarea[id="message"] {
  width: 100%
}
input[type="text"],
input[type="email"],
textarea, button[type="submit"] {
  border-radius: 1rem
}
input[type="text"],
input[type="email"],
textarea {
  padding: 1rem
}
.gdpr-consent {
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem
}
.gdpr-consent input[type="checkbox"] {
  margin-right: 1rem;
  transform: scale(1.2)
}
.gdpr-consent a {
  text-decoration: underline
}
button[type="submit"] {
  padding: 1rem 2rem
}