body,
main {
    text-align: center
}
main {
    border-radius: 1.5rem
}
.last-updated,
#last-updated-connection {
    margin-bottom: 4rem
}
section+section {
    margin-bottom: 3rem
}
ul {
    padding: 0;
    list-style: none
}