#consent-cookie-banner,
  #cookie-banner {
    background-color: var(--bg-primary);
    color: var(--color-primary);
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 1000;
  }
  #consent-cookie-banner {
    bottom: 0;
    left: 0;
    text-align: center;
  }
  #cookie-banner {
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  #consent-cookie-banner button,
  #cookie-banner button {
    &:hover {
      color: var(--accent);
    }
  }
  #accept-all-btn,
  #save-preferences-btn {
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 300ms ease;
  }
  #reject-all-btn {
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 300ms ease;
  }
  #accept-all-btn,
  #save-preferences-btn,
  #reject-all-btn {
    border-radius: 5px;
  }
  #cookie-banner label {
    margin-bottom: 5px;
    display: block;
    padding-left: 15px;
    position: relative;
  }
  #cookie-banner label::before {
    content: "•";
    color: var(--color-primary);
    position: absolute;
    left: 0;
  }
  #cookie-banner input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
  }
  #show-cookie-settings-btn,
  #close-banner-btn {
    color: var(--color-primary);
  }
  #show-cookie-settings-btn {
    border: none;
  }
  #close-banner-btn {
    background: transparent;
    float: right;
  }