main {
    border-radius: .53rem;
    padding: 1.33rem;
    margin: 1.33rem auto
}
#not-found-message {
    display: none;
    padding: 1.33rem
}
header h1 {
    text-align: center;
    margin-bottom: 1.33rem
}
#search-bar {
    border: 2px solid #e0e0e0;
    margin-bottom: 1.33rem;
    border-radius: .33rem;
    padding: 1rem;
    width: 100%
}
details {
    margin-bottom: 4.5rem
}
details:last-child {
    margin-bottom: 0
}
details summary {
    cursor: pointer;
    padding: .67rem;
    border-radius: .33rem
}
.exclusive-nav a[aria-current='page'] {
    font-weight: 700;
    text-decoration: underline
}
section {
    margin-bottom: 4rem
}
summary, section {
    margin-top: 6rem
}