:root {
    --color-primary: #f5f5f5;
    --color-secondary: #000;
    --accent: #754900;
    --text-primary: #000;
    --text-secondary: #f5f5f5;
    --filter-active-settings: opacity(0.55)
}
.strawpoll-embed {
    height: 580px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column
}
.strawpoll-embed iframe {
    position: static;
    visibility: visible;
    display: block;
    width: 100%;
    flex-grow: 1
}
.last-updated {
    text-align: center;
    border: 1px solid var(--color-secondary)
}
.last-updated, #TOC {
    margin-bottom: 1.25rem
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 80%;
    max-width: 500px
}
.search-container #search-bar {
    padding: 12px 16px;
    border: 2px solid var(--color-secondary);
    border-radius: 25px;
    width: 100%
}
#not-found-message {
    display: none;
    padding: 1.33rem
}
.TOC {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.25rem
}
.TOC h3 {
    width: 100%;
    border-bottom: 1px solid var(--color-secondary);
    padding-bottom: 0.75rem
}
.TOC a:last-child {
    width: 50%;
    border-bottom: 1px solid var(--color-secondary);
    padding-bottom: 0.75rem
}
.TOC a {
    text-decoration: underline
}
#cool-websites .cool-start,
.expand-all.active section[id^="step-hidden-from-"] {
    display: block
}
img {
    height: auto;
    vertical-align: middle;
    max-width: 100%;
    font-style: italic;
    image-rendering: -webkit-optimize-contrast;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    object-fit: cover
}
@media (prefers-reduced-motion:no-preference) {
    img {
        transform: scale(.8);
        opacity: .1;
        animation: fade-in 1s linear forwards
    }
}
@keyframes fade-in {
    to {
        transform: scale(1);
        opacity: 1
    }
}
@supports (animation-timeline:view()) and (animation-range-start:entry) {
    @media (prefers-reduced-motion: no-preference) {
        img {
            animation-timeline:view();
            animation-range-start: entry
        }
    }
}
.anim {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1200ms cubic-bezier(0.4, 0, 0.27, 0.71), transform 1250ms cubic-bezier(0.4, 0, 0.27, 0.71)
}
.show {
    opacity: 1;
    transform: translateY(0)
}
@media (prefers-reduced-motion:reduce) {
    .anim {
        transition: none
    }
}
header h1 {
    border-bottom: 2px solid var(--color-secondary)
}
header h1 .description {
    margin: .33rem;
    padding: 1rem
}
#preparation-heading, ul[class^="spaced"] {
    margin-top: 2rem
}
.TOC, #preparation-heading {
    margin-bottom: 3.25rem
}
#show-hide-btn {
    width: 10%;
    height: 4.5rem;
    border: none;
    border-radius: .47rem;
    border: 0.5px solid var(--color-secondary)
}
#show-hide-btn,
.expand-all div[id^="step-hidden-from-5"] {
    margin-bottom: 6rem
}
.step-by-step-guide a {
    position: relative
}
.step-by-step-guide a::before {
    position: absolute;
    content: "";
    height: .13rem;
    bottom: 0;
    left: 0
}
a[id^="tool-link-"], .step-content:first-child p {
    margin-bottom: 2.25rem
}
a[id^="tool-link-"] {
    display: inline-block;
    transition: transform 300ms ease-out
}
a[id^="tool-link-"]:hover {
    transform: scale(1.05)
}
#cool-websites,
#cool-websites a {
    border-radius: .33rem
}
#cool-websites .cool-start {
    margin-bottom: 1.83rem
}
#cool-websites h2 {
    padding-bottom: .33rem
}
#cool-websites a {
    display: flex;
    justify-content: center;
    flex: 1;
    text-decoration: none;
    border: 2px solid var(--color-secondary)
}
#cool-websites a:hover,
#cool-websites a:focus {
    transform: scale(1.05)
}
section[class^="step"] {
    padding: 0.7rem;
    border-radius: .67rem
}
.code {
    white-space: pre-wrap;
    border-radius: .33rem
}
.step-content {
    border-radius: .67rem
}
section[id^="step-hidden-from-"] {
    display: none
}
section[id^="step-hidden-from-"]:not(.step-content, h2, h3, figure, figcaption), section[class^="step"]:not(.step-content, h2, h3, figure, figcaption) {
    margin-bottom: 14.5rem
}
.exclusive-nav a[aria-current='page'] {
    font-weight: 700;
    text-decoration: underline
}
@media only screen and (min-width:320px) and (max-width:480px) {
    .code {
        word-break: break-all
    }
    #cool-websites .cool-start {
        padding: .8rem
    }
    #cool-websites a {
        padding: .55rem 0rem;
        margin: 1.33rem
    }
    header h1 {
        padding: .89rem
    }
    header h1 .description {
        margin: .75rem;
        padding: .375rem
    }
}
@media only screen and (min-width:481px) and (max-width:768px) {
    .code {
        word-break: break-all
    }
    #cool-websites .cool-start {
        padding: 1rem
    }
    #cool-websites a {
        padding: .45rem 0;
        margin: 1.5rem
    }
    #cool-websites a:hover,
    #cool-websites a:focus {
        transform: scale(1.03)
    }
    header h1 {
        padding: .46rem
    }
    header h1 .description,
    .step-content {
        padding: .67rem
    }
    .description {
        margin: .33rem
    }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
    #cool-websites .cool-start {
        padding: 1.5rem
    }
    #cool-websites a {
        padding: .5rem 0;
        margin: 1.55rem
    }
    #cool-websites a:hover,
    #cool-websites a:focus {
        transform: scale(1.02)
    }
    header h1,
    header h1 .description {
        padding: .7rem
    }
    header h1 .description {
        margin: .6rem
    }
}
@media only screen and (min-width:1025px) and (max-width:1200px) {
    #cool-websites .cool-start {
        padding: 1.65rem
    }
    #cool-websites a {
        padding: .6rem 0;
        margin: 1.75rem
    }
    #cool-websites a:hover,
    #cool-websites a:focus {
        transform: scale(1.01)
    }
    header h1,
    header h1 .description {
        padding: .54rem
    }
    header h1 .description {
        margin: .54rem
    }
}
@media only screen and (min-width:1201px) {
    #cool-websites .cool-start {
        padding: 2rem
    }
    #cool-websites a {
        padding: .5rem 0;
        margin: 2rem
    }
    #cool-websites a:hover,
    #cool-websites a:focus {
        transform: scale(1)
    }
    header h1 {
        padding: .65rem
    }
    header h1 .description {
        margin: .5rem;
        padding: .75rem
    }
}
@media only screen and (prefers-color-scheme: dark) {
    @media only screen and (prefers-color-scheme: dark) {
        :root {
            --color-primary: #444;
            --color-secondary: #f5f5f5;
            --accent: #FFD599;
            --text-primary: #f5f5f5;
            --text-secondary: #444;
            --filter-active-settings: brightness(1.2)
        }
    }
}