:root {
    --color-primary: #f5f5f5;
    --color-secondary: #000;
    --accent: #754900;
    --text-primary: #000;
    --text-secondary: #f5f5f5;
    --filter-active-settings: opacity(0.55)
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center
}
.loader {
    cursor: progress;
    border: 10px solid var(--text-secondary);
    border-top: 10px solid var(--color-secondary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1200ms ease infinite
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
.loader::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border: 4px solid var(--text-secondary);
    border-top: 4px solid var(--color-secondary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1500ms ease infinite
}
@media only screen and (prefers-color-scheme: dark) {
    :root {
        --color-primary: #444;
        --color-secondary: #f5f5f5;
        --accent: #FFD599;
        --text-primary: #f5f5f5;
        --text-secondary: #444;
        --filter-active-settings: brightness(1.2)
    }
}