div#preloader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999
}
@media (prefers-reduced-motion: reduce) {
  div#preloader span.loader, 
  div#preloader span.loader::before {
  animation: none
}
}
div#preloader span.loader, 
div#preloader span.loader::before {
  animation: spin 1000ms linear infinite;
  border-radius: 50%
}
div#preloader span.loader {
  border: 0.625rem solid var(--color-secondary);
  border-top: 0.625rem solid var(--bg-secondary);
  cursor: progress
}
@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  20% {
    transform: rotate(72deg)
  }
  40% {
    transform: rotate(144deg)
  }
  60% {
    transform: rotate(216deg)
  }
  80% {
    transform: rotate(288deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
div#preloader span.loader::before {
  border: 0.25rem solid var(--color-secondary);
  border-top: 0.25rem solid var(--bg-secondary);
  content: "";
  left: -0.625rem;
  position: absolute;
  top: -0.625rem
}