main div.carousel {
  margin-bottom: 5rem;
  overflow: hidden
}
@media (prefers-reduced-motion: reduce) {
  main div.carousel div.carousel-inner {
    transition: none
  }
}
main div.carousel div.carousel-inner {
  display: flex;
  transition: transform 1000ms ease-in-out /* dynamic animation */
}
main div.carousel div.carousel-inner div.carousel-item {
  min-width: 100%
}