main div.carousel {
  margin-bottom: 5rem;
  overflow: hidden
}
@media (prefers-reduced-motion: reduce) {
  main div.carousel-inner {
    transition: none
  }
}
main div.carousel-inner {
  display: flex;
  transition: transform 500ms ease-in-out
}
main div.carousel-item {
  min-width: 100%
}