:root { /* Utilized for every single page */
  --accent: #754900;
  --bg-primary: #f5f5f5;
  --bg-secondary: #000;
  --color-primary: #000;
  --color-secondary: #f5f5f5;
  --filter-active-settings: opacity(0.55);
  --hover-shadow: 0 0.7rem 1.35rem rgba(0, 0, 0, 0.25)
}
*,
*::after,
*::before {
  background-color: var(--bg-primary);
  box-sizing: border-box;
  color: var(--color-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0
}
@supports (text-wrap: pretty) {
  *,
  *::after,
  *::before {
    text-wrap: pretty
  }
}
body,
main {
  max-width: 100%;
  min-height: 100vh
}
@supports (min-height: 100svh) {
  body, main {
    min-height: 100svh
  }
}
html {
  font-size: 16px;
  overflow-x: clip;
  scroll-behavior: smooth;
}
@supports (scrollbar-gutter: stable) {
  html {
    scrollbar-gutter: stable
  }
}
header h1 {
  border-bottom: 0.12rem solid var(--bg-secondary);
  font-size: 40px;
  letter-spacing: clamp(0.075rem, 1.5vw, 0.1rem);
  line-height: 1.3
}
h2 {
  font-size: 32px;
  letter-spacing: clamp(0.055rem, 1vw, 0.075rem);
  line-height: 1.2
}
h3 {
  font-size: 24px;
  letter-spacing: clamp(0.04rem, 0.75vw, 0.05rem);
  line-height: 1.1
}
@supports (text-wrap: balance) {
  h1, h2, h3 {
    text-wrap: balance
  }
}
main {
  border-radius: 0.55rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.38rem;
  padding: 1.38rem
}
.spaced-top {
  margin-top: 2rem
}
.spaced-bottom {
  margin-bottom: 2rem
}
.spaced-right {
  margin-right: 2rem
}
.no-list-style {
  list-style-type: none
}
@media (prefers-reduced-motion: reduce) {
  a, button, .drawer, .drawer #hide-drawer-btn, .desktop-links, .dropdown-menu-container a, 
  #accept-all-btn, #save-preferences-btn, #reject-all-btn, footer nav[class^="footer-links-"] a {
    transition: none
  }
}
a,
button {
  text-decoration: none;
  transition: transform 500ms ease-in-out, box-shadow 500ms ease-in-out
}
button {
  border: 0.15rem solid var(--accent)
}
button:hover,
button:focus,
a:hover,
a:focus {
  box-shadow: var(--hover-shadow);
  transform: scale(1.03)
}
a:hover, a:focus {
  color: var(--accent)
}
a:focus,
button:focus {
  outline: 0.15rem solid var(--accent)
}
@media (prefers-reduced-transparency: no-preference) {
  a:active {
    filter: var(--filter-active-settings)
  }
}
/* last updated */
.last-updated {
  border: 0.06rem solid var(--color-secondary);
  margin-bottom: 1.25rem
}
/* search bars */
.search-container {
  align-items: center;
  display: flex;
  margin: 2rem
}
.search-container #search-bar {
  border: 0.12rem solid var(--color-secondary);
  border-radius: 1.5rem;
  padding: 0.75rem 1rem
}
#not-found-msg {
  display: none;
  padding: 1.33rem
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(1rem)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}
.scroll-fade {
  animation: slide-in 500ms forwards;
  animation-delay: var(500ms, 0s);
  opacity: 0;
}
/* bigger screen navigation menu */
.desktop-links,
.desktop-links a {
  display: flex
}
header h1,
.desktop-links {
  margin-bottom: 3rem
}
.desktop-links {
  padding: 1rem;
  position: relative
}
.search-container, .desktop-links a {
  justify-content: center
}
.desktop-links a {
  flex: 1
}
.dropdown-menu-container a {
  transition: margin-bottom 500ms ease-in-out, padding-top 500ms ease-in-out
}
.dropdown-menu-container a:hover, .dropdown-menu-container a:focus {
  margin-bottom: .5rem;
  padding-top: .5rem
}
a, button, details, summary {
  cursor: pointer
}
.menu-icon {
  backdrop-filter: blur(1rem);
  border: 0.06rem solid var(--bg-secondary);
  border-radius: 0.5rem;
  padding: 1rem;
  right: 1rem;
  top: 1rem;
  z-index: 1000
}
.menu-icon .line {
  background: var(--bg-secondary);
  height: 0.1rem;
  margin: 0.35rem 0;
  width: 1rem
}
#consent-cookie-banner,
#cookie-banner, .menu-icon, .drawer {
  position: fixed
}
.drawer {
  border: 0.06rem solid var(--bg-secondary);
  opacity: 0;
  padding: 1rem;
  right: 3.6rem;
  top: 4.5rem;
  transform: translateY(-2rem);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  visibility: hidden;
  z-index: 1000
}
.drawer.opened {
  opacity: 1;
  transform: translateY(0);
  visibility: visible
}
.drawer a {
  border: 0.06rem solid var(--bg-secondary);
  border-radius: 0.3rem;
  display: block;
  padding: 0.55rem;
  transition: transform 500ms ease-in-out
}
.drawer a:hover,
.drawer a:focus {
  transform: translateX(10px)
}
.drawer #hide-drawer-btn {
  border: none;
  border-radius: 1.5rem;
  padding: 1rem;
  transition: filter 500ms ease-in-out, transform 500ms ease-in-out
}
.drawer #hide-drawer-btn:hover,
.drawer #hide-drawer-btn:focus {
  transform: scale(0.9)
}
footer {
  padding: 2rem 0
}
.footer-container {
  display: flex
}
.footer-column {
  flex: 1
}
.footer-column h4 {
  color: var(--accent);
  margin-bottom: 1rem
}
.desktop-links span, footer nav[class^="footer-links-"] a {
  transition: color 500ms ease-in-out
}
footer nav[class^="footer-links-"] a {
  display: flex;
  flex-direction: column;
  margin: 1.5rem
}
.desktop-links span:hover, .desktop-links span:focus,
footer nav[class^="footer-links-"] a:hover, footer nav[class^="footer-links-"] a:focus {
  color: var(--accent)
}
footer .copyright {
  margin-top: 3rem
}
a:not(nav a), .desktop-links a[aria-current="page"],
.drawer a[aria-current="page"] {
  text-decoration: underline
}
.desktop-links a[aria-current="page"],
.drawer a[aria-current="page"] {
  font-weight: bolder
}
/* cookies */
#consent-cookie-banner,
#cookie-banner {
  padding: 1.5rem;
  z-index: 1000
}
#consent-cookie-banner h3,
#cookie-banner h3, #consent-cookie-banner p:first-child,
#cookie-banner p {
  margin-bottom: 1.25rem
}
#consent-cookie-banner, #cookie-banner label::before {
  left: 0
}
header h1, .last-updated, .search-container #search-bar, footer, #consent-cookie-banner {
  text-align: center
}
#consent-cookie-banner {
  bottom: 0
}
#cookie-banner {
  border-radius: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
#consent-cookie-banner button,
#cookie-banner button {
  &:hover {
    color: var(--accent)
  }
}
#accept-all-btn,
#save-preferences-btn,
#reject-all-btn {
  border-radius: 0.3rem;
  margin: 0.3rem;
  padding: 0.7rem 1.35rem;
  transition: background-color 500ms ease-in-out
}
#cookie-banner label {
  display: block;
  margin-bottom: 0.3rem;
  padding-left: 1rem;
  position: relative
}
#cookie-banner label::before {
  content: "•";
  position: absolute
}
#cookie-banner input[type="checkbox"] {
  margin-right: 0.75rem;
  vertical-align: middle
}
#show-cookie-settings-btn {
  border: none
}
#close-banner-btn {
  border: none;
  display: flex;
  justify-content: flex-end
}
.search-container #search-bar, #consent-cookie-banner, .strawpoll-embed, .strawpoll-embed iframe {
  width: 100%
}

/* Strawpoll, keep as is */
.strawpoll-embed {
  display: flex;
  flex-direction: column;
  height: 580px;
  margin: 0 auto;
  max-width: 640px
}
.strawpoll-embed iframe {
  display: block;
  flex-grow: 1;
  position: static;
  visibility: visible
}

@media only screen and (max-width: 320px) {
  .desktop-links {
    display: none
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .menu-icon,
  .drawer {
    display: block
  }
  .desktop-links {
    display: none
  }
}
@media only screen and (min-width: 769px) {
  .menu-icon,
  .drawer {
    display: none
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .menu-icon,
  .drawer {
    display: none
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .menu-icon,
  .drawer {
    display: none
  }
}
@media only screen and (min-width: 1201px) {
  .menu-icon,
  .drawer {
    display: none
  }
}
@media only screen and (prefers-color-scheme: dark) {
  :root { /* Utilized for every single page */
    --accent: #D9915D;
    --bg-primary: #444;
    --bg-secondary: #f5f5f5;
    --color-primary: #f5f5f5;
    --color-secondary: #444;
    --filter-active-settings: brightness(1.2);
    --hover-shadow: 0 0.7rem 1.35rem rgba(255, 255, 255, 0.2)
  }
}