:root {
    --color-primary: #f5f5f5;
    --color-secondary: #666666;
    --accent: #cc8400;
    --text-primary: #444;
    --text-secondary: #f5f5f5;
    --filter-hover-settings: opacity(0.7);
    --filter-active-settings: opacity(0.55)
}
*,
*::after,
*::before {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    color: var(--text-primary);
    background-color: var(--color-primary)
}
.bold {
    font-weight: 700
}
.strong {
    font-weight: bolder
}
body,
main {
    min-height: 100vh;
    max-width: 100%
}
html {
    font-size: 16px
}
.exclusive-nav,
.exclusive-nav a {
    display: flex
}
a, button {
    cursor: pointer;
    text-decoration: none;
    transition: filter 0.3s linear, color 0.3s linear, transform 0.3s linear
}
a:hover, a:focus, button:hover, button:focus {
    filter: var(--filter-hover-settings);
    color: var(--accent)
}
a:active {
    filter: var(--filter-active-settings)
}
.drawer,
footer:before {
    position: absolute
}
.exclusive-nav,
.drawer {
    padding: 1rem
}
.exclusive-nav,
footer {
    position: relative
}
.exclusive-nav {
    background-color: var(--color-secondary);
    color: var(--text-secondary);
    transition: background-color 0.3s linear
}
.exclusive-nav a {
    flex: 1;
    justify-content: center
}
.menu-icon,
footer {
    background-color: var(--color-primary)
}
.menu-icon {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    padding: 0.8rem;
    backdrop-filter: blur(1rem);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease
}
.menu-icon .line {
    width: 1rem;
    height: 0.25rem;
    background: var(--color-secondary);
    margin: 0.33rem 0
}
.drawer {
    visibility: hidden;
    top: 2.5rem;
    right: 1rem;
    background: var(--color-secondary);
    color: var(--text-secondary);
    border: 1px solid var(--color-secondary);
    z-index: 1000;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s, transform 0.5s linear;
    transform: translateY(-2rem)
}
.drawer.opened {
    visibility: visible;
    opacity: 1;
    transform: translateY(0)
}
.drawer a {
    display: block;
    padding: 0.6rem;
    border: 1px solid var(--color-secondary);
    border-radius: 5px
}
.drawer a:hover,
.drawer a:focus {
    transform: translateX(10px)
}
#hideDrawerBtn {
    background-color: var(--color-secondary);
    color: var(--text-secondary);
    border: none;
    padding: 1rem;
    border-radius: 15px;
    transition: filter 0.3 linear transform 0.3s linear
}
#hideDrawerBtn:hover,
#hideDrawerBtn:focus {
    transform: scale(1.2)
}
footer {
    color: var(--text-primary);
    text-align: center;
    animation: fadeIn 1s linear
}
footer:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--color-primary), var(--accent));
    z-index: -1;
    opacity: 0.8
}
footer .nav-footer a {
    display: grid;
    place-items: center;
    align-content: center;
    margin: 1.5rem 0;
    transition: color 0.3s ease, transform 0.3s ease
}
footer .attribution {
    color: var(--text-primary)
}
footer .attribution:hover,
footer .attribution:focus {
    transform: scale(1.05)
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@media screen and (max-width: 320px) {
    .exclusive-nav {
        display: none !important
    }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
    .menu-icon,
    .drawer {
        display: block
    }
    .exclusive-nav {
        display: none
    }
    footer {
        padding: 2.5rem
    }
    footer .nav-footer,
    footer .copyright,
    footer .attribution {
        margin-top: clamp(1.75rem, 50%, 2.5rem)
    }
}
@media only screen and (min-width: 769px) {
    .menu-icon,
    .drawer {
        display: none
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .exclusive-nav {
        padding: 1rem
    }
    footer {
        padding: 3rem
    }
    footer .nav-footer,
    footer .copyright,
    footer .attribution {
        margin-top: clamp(2.65rem, 50%, 3rem)
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .exclusive-nav {
        padding: 1rem
    }
    footer {
        padding: 3.34rem
    }
    footer .nav-footer,
    footer .copyright,
    footer .attribution {
        margin-top: clamp(3.1rem, 50%, 3.25rem)
    }
}
@media only screen and (min-width: 1201px) {
    .exclusive-nav {
        padding: 1.2rem
    }
    footer {
        padding: 4rem
    }
    footer .nav-footer,
    footer .copyright,
    footer .attribution {
        margin-top: clamp(3.4rem, 50%, 3.8rem)
    }
}
@media only screen and (prefers-color-scheme: dark) {
    :root {
        --color-primary: #444;
        --color-secondary: #999999;
        --accent: #ffb347;
        --text-primary: #f5f5f5;
        --text-secondary: #444;
        --filter-hover-settings: brightness(1.1);
        --filter-active-settings: brightness(1.2)
    }
    .dark-theme *, .dark-theme *::before, 
    .dark-theme *::after {
        color: var(--text-primary);
        background-color: var(--color-primary)
    }
    .dark-theme a:hover, .dark-theme a:focus,
    .dark-theme button:hover, .dark-theme button:focus {
        filter: var(--filter-hover-settings);
        color: var(--accent)
    }
    .dark-theme a:active {
        filter: var(--filter-active-settings)
    }
    .dark-theme .menu-icon {
        border: 1px solid var(--color-secondary);
        background-color: var(--color-primary)
    }
    .dark-theme .line {
        background: var(--accent)
    }
    .dark-theme .exclusive-nav {
        border-bottom: 2px solid var(--color-secondary)
    }
    .dark-theme .drawer {
        background: var(--color-secondary);
        color: var(--text-secondary)
    }
    .dark-theme .copyright {
        color: var(--text-primary)
    }
}