.TOC {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  text-align: center
}
/* zero out margin on gap support */
.TOC > :not(:last-child) {
  margin-bottom: 0
}
.TOC > :not(:last-child) {
  margin-bottom: 2.25rem
}
.TOC {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center
}
.TOC h3 {
  border-bottom: 1px solid var(--bg-secondary);
  padding: 0.15rem
}
.TOC a:last-child {
  margin-bottom: 5.75rem
}
.TOC a::before {
  content: "• "
}