main section h2#toc-heading {
  text-align: center
}
main section nav.TOC {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  text-align: center
}
main section nav.TOC {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center
}
main section nav.TOC a:last-child {
  margin-bottom: 5.75rem
}
main section nav.TOC a::before {
  content: "• "
}