main .code {
  border: 0.1rem solid var(--accent);
  font-family: monospace;
  overflow-wrap: break-word;
  white-space: pre-wrap
}
main div.expand-all button#show-hide-btn {
  border-radius: 0.5rem
}
main section:not(:last-child) {
  margin-bottom: 25rem
}
main div.expand-all.active section[id^="step-hidden-from-"] {
  display: block
}
main div.expand-all section[id^="step-hidden-from-"] {
  display: none
}