@media (prefers-reduced-motion: reduce) {
  img {
    animation: none
  }
  .hide {
    transition: none
  }
}
img {
  -webkit-backface-visibility: hidden;
  animation: fade-in 500ms ease-in-out forwards;
  backface-visibility: hidden;
  font-style: italic;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.25;
  transform: scale(0.8);
  vertical-align: middle
}
@supports (animation-timeline: view()) and (animation-range-start: entry) {
  img {
    animation-range-start: entry;
    animation-timeline: view()
  }
}
@supports (prefers-reduced-transparency: no-preference) {
  @media (prefers-reduced-transparency: no-preference) {
    img {
      opacity: 0.25
    }
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
    transform: scale(1)
  }
}
main .hide {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out
}
main .show {
  opacity: 1;
  transform: translateY(0)
}
main section.preparation-section {
  padding-bottom: 5rem
}
main .code {
  border: 0.1rem solid var(--accent);
  font-family: monospace;
  overflow-wrap: break-word;
  white-space: pre-wrap
}
main div.expand-all button#show-hide-btn {
  border-radius: 0.5rem;
  height: 4rem;
  width: clamp(5rem, 15vh, 10rem)
}
main div.expand-all.active section[id^="step-hidden-from-"] {
  display: block
}
main div.expand-all section[id^="step-hidden-from-"] {
  display: none
}
main section:not(:last-child) {
  margin-bottom: 25rem
}