/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Base styles for the body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Define a variable for the link color */
:root {
    --link-color: #FF8C00;
}

/* Styling for the header section with a flexible orange background and white text */
header {
    background-color: #FFA500;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Styles for the content section */
#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eee;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Remove list styles and add margin to list items */
ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

/* Styling for the links */
a {
    color: var(--link-color);
    text-decoration: none;
}

/* Styling for the links hover */
a:hover {
    text-decoration: underline;
    color: #FF4500;
}

/* Styling for the footer with a light background and different text colors for visibility */
footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    color: #333;
}

/* Responsive design for smaller screens on the new page */
@media only screen and (max-width: 600px) {
    #content {
        max-width: 100%;
        padding: 10px;
    }
    
    h1 {
        font-size: 1.5em;
        color: #333;
        background-color: #eee;
    }
}

/* Responsive design for screens 601px to 768px (Tablet) on the new page */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    #content {
        max-width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 1.8em;
        color: #333;
        background-color: #eee;
    }
}

/* Responsive design for screens 769px to 1200px (Desktop) on the new page */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    #content {
        max-width: 800px;
        padding: 20px;
    }

    h1 {
        font-size: 2em;
        color: #333;
        background-color: #eee;
    }
}

/* Dark mode styles for the new page */
body.dark-theme {
    background-color: #1a1a1a;
    color: #ccc;
}

body.dark-theme h1 {
    color: #FFA500;
    background-color: #333;
}

/* Styles for dark mode in specific elements on the new page */
body.dark-theme #content {
    background-color: #333;
    color: #ccc;
}

body.dark-theme #content a {
    color: var(--link-color);
}

body.dark-theme #content a:hover {
    text-decoration: underline;
    color: #FF4500;
}

body.dark-theme #content footer {
    background-color: #333;
    color: #fff;
}
