/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Base styles for the body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Define a variable for the link color */
:root {
    --link-color: #FF8C00;
}

/* General styling for the form itself, including its elements */
#myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* General styling for labels within the form */
label {
    margin-bottom: 10px;
}

/* General styling for input fields within the form */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* General styling for buttons within the form */
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* General styling for the header section with a flexible orange background and white text */
header {
    background-color: #FFA500;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* General styles for the content section */
#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eee;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* General ul list styles */
ul {
    list-style-type: none;
}

/* General li list styles */
li {
    margin-bottom: 20px;
}

/* General styling for the links */
a {
    color: var(--link-color);
    text-decoration: none;
}

/* General styling for the links hover */
a:hover {
    text-decoration: underline;
    color: #FF4500;
}

/* General styling for the footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    color: #333;
}

/* Responsive design for smaller screens on the new page */
@media only screen and (max-width: 600px) {
    #content {
        max-width: 100%;
        padding: 10px;
    }
    
    h1 {
        font-size: 1.5em;
        color: #333;
        background-color: #eee;
    }
}

/* Responsive design for screens 601px to 768px (Tablet) on the new page */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    #content {
        max-width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 1.8em;
    }
}

/* Responsive design for screens 769px to 1200px (Desktop) on the new page */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    #content {
        max-width: 100%;
    }

    h1 {
        font-size: 2em;
    }
}

/* Responsive design for extra-large screens */
@media only screen and (min-width: 1201px) {
    #content {
        max-width: 100%;
        padding: 25px;
    }

    h1 {
        font-size: 2.3em;
    }
}

/* Dark mode styles */
body.dark-theme {
    background-color: #1a1a1a;
    color: #ccc;
}

.dark-theme #main-content {
    background-color: #444;
}

.dark-theme button {
    background-color: #ff4500;
    color: #333;
}

body.dark-theme h1 {
    color: #FFA500;
    background-color: #333;
}

body.dark-theme #content {
    background-color: #333;
    color: #ccc;
}

body.dark-theme #content a {
    color: var(--link-color);
}

body.dark-theme #content a:hover {
    text-decoration: underline;
    color: #FF4500;
}

body.dark-theme #content footer {
    background-color: #333;
    color: #fff;
}
