/* Reset some default styles */
body, h2, p {
    margin: 0;
    padding: 0;
}

/* Base styles for the body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fffbf6;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styling for the heading */
h2 {
    color: #ff4500;
    text-align: center;
    padding: 20px 0;
}

/* Styles for the main content container */
.extended-about {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #333;
    line-height: 1.8;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Styling for paragraphs */
.extended-about p {
    margin-bottom: 15px;
    position: relative;
}

/* Styling for bullet points */
.extended-about p:not(:first-child)::before {
    content: '\2022';
    color: #ff4500;
    font-size: 1.2em;
    margin-right: 10px;
}

/* Dark theme styles */
body.dark-theme {
    background-color: #333;
    color: #ddd;
}

body.dark-theme h2 {
    color: #ff8c00;
}

body.dark-theme .extended-about {
    background-color: #333;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    color: #ddd;
}

/* Responsive Styles for screens up to 600px */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 1.5em;
    }

    .extended-about {
        max-width: 100%;
        padding: 10px;
    }
}

/* Responsive Styles for screens 601px to 768px (Tablet) */
@media screen and (min-width: 601px) and (max-width: 768px) {
    body {
        font-size: 15px;
    }

    h2 {
        font-size: 1.8em;
    }

    .extended-about {
        max-width: 100%;
        padding: 15px;
    }
}

/* Responsive Styles for screens 769px to 1200px (Desktop) */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    body {
        font-size: 16px;
    }

    h2 {
        font-size: 2em;
    }

    .extended-about {
        max-width: 800px;
        padding: 20px;
    }
}

/* Responsive Styles for screens larger than 1200px */
@media screen and (min-width: 1201px) {
    body {
        font-size: 18px;
    }

    h2 {
        font-size: 2.5em;
    }

    .extended-about {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
    }
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
