/* General Styles */
body.light-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Comic Sans MS', Arial, sans-serif; /* Playful font */
    flex-direction: column;
    background: #f5f5f5;
    color: #333; /* Text color for light mode */
}

body.dark-theme {
    background: #333;
    color: #fff; /* Text color for dark mode */
}

/* Header Styles */
header {
    order: -1;
    color: #ff8c00; /* Vibrant orange text color for headers in both light and dark mode */
}

/* Main Content Styles */
main {
    width: 80%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    color: #000; /* Text color for main content in light mode */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 20px;
}

body.dark-theme main {
    background: #2c2c2c;
    color: #fff; /* Text color for main content in dark mode */
    border-color: #555;
}

/* Responsive Styles */
@media screen and (max-width: 601px) {
    body {
        font-size: 14px;
    }

    main {
        width: 90%;
    }
}

@media screen and (min-width: 601px) {
    body {
        font-size: 16px;
    }

    main {
        width: 70%;
    }
}

/* Section Styles */
section {
    margin-bottom: 20px;
    color: #000; /* Text color for sections in light mode */
}

body.dark-theme section {
    color: #fff; /* Text color for sections in dark mode */
}

/* Heading Styles */
h1, h2 {
    color: #ff8c00; /* Vibrant orange text color for headings in both light and dark mode */
}

/* List Styles */
ul {
    padding: 0;
    list-style: none;
    color: #000; /* Text color for lists in light mode */
}

body.dark-theme ul {
    color: #fff; /* Text color for lists in dark mode */
}

/* Link Styles */
.all-about-cookies {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

.all-about-cookies:hover {
    color: #ff8c00; /* Vibrant orange on hover */
}

/* Dark Mode Link Styles */
body.dark-theme .all-about-cookies {
    color: #4CAF50;
}

body.dark-theme .all-about-cookies:hover {
    color: #ff8c00; /* Vibrant orange on hover in dark mode */
}

/* Dark Mode Footer Styles */
body.dark-theme footer {
    border-top-color: #444;
}

/* Light Mode Main Styles */
body.light-theme main {
    border-color: #f8f9fa;
    color: #000; /* Text color for main content in light mode */
}
