/* Body styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Main content styles */
main {
    flex-grow: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Dark mode styles */
@media screen and (prefers-color-scheme: dark) {
    body.dark-theme {
        background-color: #333;
        color: #f8f8f8;
    }

    .dark-theme a {
        color: #007bff;
    }

    .dark-theme #Cool-Websites {
        background-color: #333;
        border: 1px solid #666;
        padding: 10px;
    }

    .dark-theme #Cool-Websites a:hover {
        background-color: #555;
        color: #ccc;
    }

    .dark-theme #Cool-Websites h2 {
        color: #dc143c;
    }

    .dark-theme .menu-icon .line {
        background-color: #ccc;
    }

    .dark-theme .drawer {
        background: #444;
        border: 1px solid #666;
    }

    .dark-theme .drawer a {
        color: #f8f8f8;
    }

    .dark-theme .drawer a:hover {
        background-color: #555;
    }

    .dark-theme footer {
        background-color: #222;
        border-top-color: #888;
        color: #ccc;
    }
}

/* General link styles */
a[href^="#"] {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

/* Responsive styles for screens up to 600px */
@media screen and (max-width: 600px) {
    main {
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #Cool-Websites {
        background-color: #f8f8f8;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: 15px;
    }

    .menu-icon,
    .drawer {
        display: block;
    }
}

/* Responsive styles for screens 601px to 768px (Tablet) */
@media screen and (min-width: 601px) and (max-width: 768px) {
    main {
        border-radius: 8px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    #Cool-Websites {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .menu-icon,
    .drawer {
        display: none;
    }

     /* Show navigation bar on larger screens */
    .desktop-nav {
        display: flex;
        justify-content: center;
        background-color: #ff8c00;
        border-bottom: 2px solid #dd5500;
        padding: 10px;
        position: relative;
    }

    /* Style navigation links */
    .desktop-nav a {
        color: #333;
        text-decoration: none;
        margin: 0 15px;
        transition: color 0.3s;
        font-size: 16px;
    }

    /* Hover styles for navigation links */
    .desktop-nav a:hover {
        background-color: #dd5500;
        color: #fff;
    }
}

/* Responsive styles for screens 769px to 1200px (Desktop) */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    main {
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    #Cool-Websites {
        background-color: #f8f8f8;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
    }

    .menu-icon,
    .drawer {
        display: none;
    }

    /* Show navigation bar on larger screens */
    .desktop-nav {
        display: flex;
        justify-content: center;
        background-color: #ff8c00;
        border-bottom: 2px solid #dd5500;
        padding: 10px;
        position: relative;
    }

    /* Style navigation links */
    .desktop-nav a {
        color: #333;
        text-decoration: none;
        margin: 0 15px;
        transition: color 0.3s;
        font-size: 20px;
    }

    /* Hover styles for navigation links */
    .desktop-nav a:hover {
        background-color: #dd5500;
        color: #fff;
    }
}

/* Responsive styles for screens larger than 1200px */
@media screen and (min-width: 1201px) {
    main {
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    #Cool-Websites {
        background-color: #f8f8f8;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: 40px;
    }

    .menu-icon,
    .drawer {
        display: none;
    }

    /* Show navigation bar on larger screens */
    .desktop-nav {
        display: flex;
        justify-content: center;
        background-color: #ff8c00;
        border-bottom: 2px solid #dd5500;
        padding: 10px;
        position: relative;
    }

    /* Style navigation links */
    .desktop-nav a {
        color: #333;
        text-decoration: none;
        margin: 0 15px;
        transition: color 0.3s;
        font-size: 22px;
    }

    /* Hover styles for navigation links */
    .desktop-nav a:hover {
        background-color: #dd5500;
        color: #fff;
    }
}

/* Specific styles for Cool Websites section title */
#Cool-Websites h2 {
    font-size: 1.8em;
    color: #dc143c;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

/* Specific styles for span in Cool Websites section */
#Cool-Websites span {
    display: block;
    margin-bottom: 10px;
    color: #007bff;
}

/* Styling for links in the Cool Websites section */
#Cool-Websites a {
    color: #007bff;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #555;
    border-radius: 5px;
    transition: background-color, color 0.3s;
}

/* Hover styles for links in the Cool Websites section */
#Cool-Websites a:hover {
    transform: scale(1.05);
    background-color: #ff6f61;
    transition: background-color, color 0.3s;
    color: #fff !important;
}

/* Styles for Home Page section */
#Home-Page {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#Home-Page a {
    color: #007bff !important;
    text-decoration: none;
    transition: color 0.3s;
}

/* Hover styles for the home page link within #Home-Page */
#Home-Page a:hover,
#Home-Page a:focus {
    transform: scale(1.05);
    background-color: #ff6f61;
    color: #fff !important;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}


/* Styles for step section */
.step {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for h2 in step section */
h2 {
    color: #ff7b00;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Styles for code in step section */
.code {
    background-color: #f0f0f0;
    padding: 10px;
    font-family: monospace;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styles for note in step section */
.note {
    font-style: italic;
    color: #555;
}

/* Styles for step content section */
.step-content {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for step description in step section */
.step-description {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
}

/* Last child style for step description in step section */
.step-description:last-child {
    margin-bottom: 0;
}

/* Styling for the menu icon */
.menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
    backdrop-filter: blur(10px);
}

/* Hover styles for menu icon line */
.menu-icon:hover .line {
    background-color: #ccc;
}

/* Styles for menu icon line */
.line {
    width: 35px;
    height: 5px;
    background: #000;
    margin: 6px 0;
}

/* Styles for drawer section */
.drawer {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Drawer link styles */
.drawer a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #000;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Drawer link hover styles */
.drawer a:hover {
    background-color: #f8f8f8;
    color: #000;
    border-color: #007bff;
}

/* Styles for navigation */
nav {
    background-color: #007bff;
    padding: 10px;
    position: relative;
    background-color: transparent; /* Debugger */
    border: none; /* Debugger */
}

/* Navigation link styles */
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
    background-color: transparent; /* Debugger */
    border: none; /* Debugger */
}

/* Navigation link hover styles */
nav a:hover {
    color: #ffcc00;
}

/* Styles for extended About Us section title */
#About-Us h2 {
    font-size: 2em;
    color: #ff7b00;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

/* Light mode styles for the cookie banner */
#cookie-banner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
}

/* Styles for cookie banner button */
#cookie-banner button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
}

/* Hover styles for cookie banner button */
#cookie-banner button:hover {
    background-color: #0056b3;
}

/* Dark mode styles for the cookie banner */
#cookie-banner.dark-mode {
    background-color: #333;
    color: #ccc;
}

/* Styles for cookie banner paragraph */
#cookie-banner p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

/* Light mode styles for links in the banner */
#cookie-banner a {
    color: #007bff;
}

/* Hover styles for links in the banner */
#cookie-banner a:hover {
    color: #0056b3;
}

/* Styles for the links after the footer */
footer:after {
    content: "";
    display: block;
    clear: both;
}

/* Styles for the additional links */
footer:after a {
    display: inline-block;
    margin-left: 10px;
    color: #757575; /* Light gray text */
    text-decoration: none;
    transition: color 0.3s;
}

/* Hover styles for the additional links */
footer:after a:hover {
    color: #ff6f61;
}

/* Light mode styles for the footer */
footer {
    border-top: 1px solid #888;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    background-color: #f9f9f9;
    color: #333;
}

/* Styles for links within the footer in light mode */
footer {
    display: flex;
    flex-direction: column; /* Set the flex direction to column */
}

footer a {
    color: #ff7f50 !important; /* Coral Orange */
    text-decoration: none;
    transition: color 0.3s;
    margin-bottom: 10px; /* Add some spacing between the links */
}

footer a:hover {
    color: #ff4500 !important; /* Darker Orange (for hover effect) */
}
