/* Body styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Main content styles */
main {
    flex-grow: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Styles for the main content */
h1 {
    color: #ff7b00;
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

/* Styles for links within the Step-by-Step Guide section */
#Step-by-Step-Guide a {
    color: #000080;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

/* Underline styles */
#Step-by-Step-Guide a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000080;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

/* Hover styles for links within the Step-by-Step Guide section */
#Step-by-Step-Guide a:hover {
    color: #0056b3;
}

/* Hover styles for the underline */
#Step-by-Step-Guide a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Dark mode styles */
@media screen and (prefers-color-scheme: dark) {
    body.dark-theme {
        background-color: #333;
        color: #f8f8f8;
    }

    .dark-theme [href^="#"] {
        color: #dc143c;
        text-decoration: none;
        transition: color 0.3s;
    }

    .dark-theme a {
        color: #dd5500;
    }

    .dark-theme #Step-by-Step-Guide a {
        color: #ff8c00;
        text-decoration: none;
        position: relative;
        transition: color 0.3s;
    }

    .dark-theme #Step-by-Step-Guide a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ff8c00;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    .dark-theme #Step-by-Step-Guide a:hover {
        color: #dd5500;
    }

    .dark-theme #Step-by-Step-Guide a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .dark-theme #Cool-Websites {
        background-color: #333;
        border: 1px solid #666;
        padding: 10px;
    }

    .dark-theme #Cool-Websites a {
        color: #ff8c00;
    }

    .dark-theme #Cool-Websites a:hover {
        background-color: #cd7f32;
        color: #333 !important;
    }

    .dark-theme #Cool-Websites h2 {
        color: #dc143c;
    }

    .dark-theme #Cool-Websites span {
        display: block;
        margin-bottom: 10px;
        color: #ff8c00;
    }

    .dark-theme .menu-icon {
        background-color: rgba(40, 40, 40, 0.7);
        border-color: #ddd;
    }

    .dark-theme .menu-icon:hover .line {
        background-color: #999;
    }

    .dark-theme .line {
        background-color: #ddd;
    }

    .dark-theme #cookie-banner {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 400px;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
        background-color: #333;
        color: #ccc;
    }

    .dark-theme #cookie-banner button {
        background-color: #ff9800;
        color: #333;
        border: none;
        padding: 12px 24px;
        cursor: pointer;
        margin: 10px 5px;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .dark-theme #cookie-banner button:hover {
        background-color: #e68a00;
    }

    .dark-theme #cookie-banner p {
        margin: 15px 0;
        font-size: 18px;
        color: #aaa;
    }

    .dark-theme .exclusive-nav {
        display: flex;
        justify-content: center;
        background-color: #dc143c;
        border-bottom: 2px solid #b22222;
        padding: 10px;
        position: relative;
    }

    .dark-theme .exclusive-nav a {
        color: #333;
        text-decoration: none;
        margin: 0 15px;
        transition: color 0.3s;
    }

    .dark-theme .exclusive-nav a:hover {
        background-color: #b22222;
        color: #fff;
    }

    .dark-theme .drawer {
        background: #dc143c;
        border: 1px solid #666;
    }

    .dark-theme .drawer a {
        color: #f8f8f8;
    }

    .dark-theme .drawer a:hover {
        background-color: #555;
    }

    .dark-theme footer {
        background-color: #222;
        border-top-color: #888;
        color: #ccc;
    }

    .dark-theme footer a {
        color: #ff7f50 !important;
        text-decoration: none;
        transition: color 0.3s;
        margin-bottom: 10px;
    }
    
    .dark-theme footer a:hover {
        color: #ff4500 !important;
    }
}

/* Dark mode debug */
@media screen and (max-width: 600px) and (prefers-color-scheme: dark) {
    .exclusive-nav {
        display: none !important; /* Debugger */
    }
}

/* General link styles */
a[href^="#"] {
    color: #0056b3;
    text-decoration: none;
    transition: color 0.3s;
}

/* Responsive styles for screens up to 600px */
@media screen and (max-width: 600px) {
    main {
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #Cool-Websites {
        background-color: #f8f8f8;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: 15px;
    }

    .menu-icon,
    .drawer {
        display: block;
    }

    .exclusive-nav {
        display: none;
    }
}

/* Responsive styles for screens 601px to 768px (Tablet) */
@media screen and (min-width: 601px) and (max-width: 768px) {
    main {
        border-radius: 8px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    #Cool-Websites {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .menu-icon,
    .drawer {
        display: none;
    }

    .exclusive-nav {
        display: flex;
        justify-content: center;
        background-color: #3f00ff;
        border-bottom: 2px solid #3f00ff;
        padding: 10px;
        position: relative;
    }

    .exclusive-nav a {
        color: #333;
        text-decoration: none;
        margin: 0 15px;
        transition: color 0.3s;
        font-size: 16px;
    }

    .exclusive-nav a:hover {
        background-color: #000080;
        color: #fff;
    }
}

/* Responsive styles for screens 769px to 1200px (Desktop) */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    main {
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    #Cool-Websites {
        background-color: #f8f8f8;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
    }

    .menu-icon,
    .drawer {
        display: none;
    }

    .exclusive-nav {
        display: flex;
        justify-content: center;
        background-color: #3f00ff;
        border-bottom: 2px solid #3f00ff;
        padding: 10px;
        position: relative;
    }

    .exclusive-nav a {
        color: #333;
        text-decoration: none;
        margin: 0 15px;
        transition: color 0.3s;
        font-size: 18px;
    }

    .exclusive-nav a:hover {
        background-color: #000080;
        color: #fff;
    }
}

/* Responsive styles for screens larger than 1200px */
@media screen and (min-width: 1201px) {
    main {
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    #Cool-Websites {
        background-color: #f8f8f8;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: 40px;
    }

    .menu-icon,
    .drawer {
        display: none;
    }

    .exclusive-nav {
        display: flex;
        justify-content: center;
        background-color: #3f00ff;
        border-bottom: 2px solid #3f00ff;
        padding: 10px;
        position: relative;
    }

    .exclusive-nav a {
        color: #333;
        text-decoration: none;
        margin: 0 15px;
        transition: color 0.3s;
        font-size: 22px;
    }
    
    .exclusive-nav a:hover {
        background-color: #000080;
        color: #fff;
    }
}

/* Specific styles for Cool Websites section title */
#Cool-Websites h2 {
    font-size: 1.8em;
    color: #dc143c;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

/* Styles for links within the Cool Websites section */
#Cool-Websites a {
    color: #000080;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #555;
    border-radius: 5px;
    transition: background-color, color 0.3s;
}

/* Hover styles for links within the Cool Websites section in light mode */
#Cool-Websites a:hover {
    transform: scale(1.05);
    background-color: #add8e6;
    transition: background-color, color 0.3s;
    color: #fff !important;
}

/* Specific styles for span in Cool Websites section */
#Cool-Websites span {
    display: block;
    margin-bottom: 10px;
    color: #0056b3;
}

/* Styles for step section */
.step {
    background-color: #f8f8f8;
    color: #555;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for h2 in step section */
h2 {
    color: #ff7b00;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Styles for code in step section */
.code {
    background-color: #f0f0f0;
    padding: 10px;
    font-family: monospace;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styles for note in step section */
.note {
    font-style: italic;
    color: #555;
}

/* Styles for step content section */
.step-content {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for step description in step section */
.step-description {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
}

/* Styling for the menu icon */
.menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 2;
    background-color: #f8f8f8;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 3px;
    backdrop-filter: blur(10px);
}

/* Hover styles for menu icon line */
.menu-icon:hover .line {
    background-color: #ccc;
}

/* Styles for menu icon line */
.line {
    width: 20px;
    height: 3px;
    background: #333;
    margin: 4px 0;
}

/* Styles for drawer section */
.drawer {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background: #0056b3;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Drawer link styles */
.drawer a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #000;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Drawer link hover styles */
.drawer a:hover {
    background-color: #f8f8f8;
    color: #000;
    border-color: #007bff;
}

/* Styles for navigation */
nav {
    background-color: #007bff;
    padding: 10px;
    position: relative;
    background-color: transparent; /* Debugger */
}

/* Navigation link styles */
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

/* Navigation link hover styles */
nav a:hover {
    color: #ffcc00;
}

/* Styles for extended About Us section title */
#About-Us h2 {
    font-size: 2em;
    color: #ff7b00;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

/* Light mode styles for the cookie banner */
#cookie-banner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
    color: #495057;
}

/* Styles for cookie banner button in light mode */
#cookie-banner button {
    background-color: #3f00ff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Hover styles for cookie banner button in light mode */
#cookie-banner button:hover {
    background-color: #000080;
}

/* Styles for cookie banner paragraph in light mode */
#cookie-banner p {
    margin: 15px 0;
    font-size: 18px;
}

/* Light mode styles for the footer */
footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #888;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    background-color: #f9f9f9;
    color: #333;
}

/* Light mode styles for links within the footer */
footer a {
    color: #3f00ff !important;
    text-decoration: none;
    transition: color 0.3s;
    margin-bottom: 10px;
}

/* Light mode styles for hovering links within the footer */
footer a:hover {
    color: #000080 !important;
}
