/* So great... */

/* General styles for the verification */
#verificationForm {
    width: 80%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#myForm {
    display: flex;
    flex-direction: column;
}

#myForm p {
    margin-bottom: 15px;
    font-weight: bold;
    color: #4CAF50;
}

#myForm button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#myForm button:hover {
    background-color: #45A049;
}

#myForm button:active {
    background-color: #39843C;
}


/* Responsive styles for screens up to 600px */
@media screen and (max-width: 600px) {
    #verificationForm {
        width: 45%;
    }

    #myForm p {
        margin-bottom: 25px;
    }
}

/* Responsive styles for screens 601px to 768px (Tablet) */
@media screen and (min-width: 601px) and (max-width: 768px) {
    #verificationForm {
        width: 70%;
    }

    #myForm p {
        margin-bottom: 20px;
    }
}   

/* Responsive styles for screens 769px to 1200px (Desktop) */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    #verificationForm {
        width: 80%;
    }

    #myForm p {
        margin-bottom: 30px;
    }
}

/* Responsive styles for screens larger than 1200px */
@media screen and (min-width: 1201px) {
    #verificationForm {
        width: 90%;
    }

    #myForm p {
        margin-bottom: 35px;
    }
}


/* Dark theme styles */
@media screen and (prefers-color-scheme: dark) {
    .dark-theme #verificationForm {
        background-color: #1a1a1a;
        border: 1px solid #333;
        color: #fff;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .dark-theme #verificationForm:hover {
        background-color: #222;
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
    }

    .dark-theme #myForm p {
        color: #fff;
    }

    .dark-theme #myForm button {
        background-color: #ff4500;
        color: #fff;
        transition: background-color 0.3s ease;
    }

    .dark-theme #myForm button:hover {
        background-color: #e63900;
    }

    .dark-theme #myForm button:active {
        background-color: #cc3500;
    }
}
