.carousel {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%
  }
.carousel-inner {
  display: flex;
  transition: transform 500ms ease-in-out
}
.carousel-item {
  min-width: 100%
}
.carousel-item img {
  display: block;
  width: 100%
}